name: Push images to digital ocean

on:
  workflow_dispatch:

jobs:

  deploy_images:
    
    environment: production
    env:
      REGISTRY_URL : ${{ secrets.REGISTRY_DO }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Get image url
        run: |
          GIT_ROOT=$(git rev-parse --show-toplevel)
          VERSION=$(awk NF ${GIT_ROOT}/VERSION)
          echo GENERIC_IMAGE_URL=$REGISTRY_URL/cloud_editor_generic:$VERSION >>  $GITHUB_ENV
          echo JAVA_INTELLIJ_IMAGE_URL=$REGISTRY_URL/intellij_java:$VERSION >>  $GITHUB_ENV
          echo GOLAND_IMAGE_URL=$REGISTRY_URL/goland_go:$VERSION >>  $GITHUB_ENV
          echo PYCHARM_IMAGE_URL=$REGISTRY_URL/pycharm_python:$VERSION >>  $GITHUB_ENV
          echo PHPSTORM_IMAGE_URL=$REGISTRY_URL/phpstorm_php:$VERSION >>  $GITHUB_ENV
          echo ANDROID_IMAGE_URL=$REGISTRY_URL/android_studio:$VERSION >>  $GITHUB_ENV
          echo INTELLIJ_ULTIMATE_IMAGE_URL=$REGISTRY_URL/intellij_ultimate:$VERSION >>  $GITHUB_ENV
          echo WEBSTORM_IMAGE_URL=$REGISTRY_URL/webstorm_image:$VERSION >> $GITHUB_ENV
          echo SYSBOX_GENERIC_IMAGE_URL=$REGISTRY_URL/sysbox_generic:$VERSION >> $GITHUB_ENV
          echo GENERIC_IMAGE_NAME=$(make get_generic_image) >> $GITHUB_ENV
          echo INTELLIJ_ULTIMATE_IMAGE_NAME=$(make get_intellij_ultimate_image) >> $GITHUB_ENV
          echo JAVA_INTELLIJ_IMAGE_NAME=$(make get_java_intellij_image) >> $GITHUB_ENV
          echo GOLAND_IMAGE_NAME=$(make get_goland_image) >> $GITHUB_ENV
          echo PYCHARM_IMAGE_NAME=$(make get_pycharm_image) >> $GITHUB_ENV
          echo PHPSTORM_IMAGE_NAME=$(make get_phpstorm_image) >> $GITHUB_ENV
          echo WEBSTORM_IMAGE_NAME=$(make get_webstorm_image) >> $GITHUB_ENV
          echo ANDROID_IMAGE_NAME=$(make get_android_studio_image) >> $GITHUB_ENV
          echo SYSBOX_GENERIC_IMAGE_NAME=$(make get_sysbox_generic_image) >> $GITHUB_ENV

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITAL_OCEAN_API_TOKEN }}

      - name: Authenticate with doctl registry
        run: doctl registry login

      # Build the base image
      - name: Build the base image
        run: make base_image

      - uses: ./.github/actions/push-image
        name: push generic image image
        with:
          image-name: ${{ env.GENERIC_IMAGE_NAME }}
          make-command: generic_image
          image-url: ${{ env.GENERIC_IMAGE_URL }}

      # Build Java Intellij image
      - uses: ./.github/actions/push-image
        name: push java intellij image
        with:
          image-name: ${{ env.JAVA_INTELLIJ_IMAGE_NAME }}
          make-command: java_intellij
          image-url: ${{ env.JAVA_INTELLIJ_IMAGE_URL }}

      # build Goland image
      - uses: ./.github/actions/push-image
        name: push goland image
        with:
          image-name: ${{ env.GOLAND_IMAGE_NAME }}
          make-command: goland
          image-url: ${{ env.GOLAND_IMAGE_URL }}

      # Build Pycharm image
      - uses: ./.github/actions/push-image
        name: push pycharm image
        with:
          image-name: ${{ env.PYCHARM_IMAGE_NAME }}
          make-command: pycharm
          image-url: ${{ env.PYCHARM_IMAGE_URL }}

      # Build phpstorm
      - uses: ./.github/actions/push-image
        name: push phpstorm image
        with:
          image-name: ${{ env.PHPSTORM_IMAGE_NAME }}
          make-command: phpstorm
          image-url: ${{ env.PHPSTORM_IMAGE_URL }}
      
      # Build Android studio
      - uses: ./.github/actions/push-image
        name: push android studio image
        with:
          image-name: ${{ env.ANDROID_IMAGE_NAME }}
          make-command: android_studio
          image-url: ${{ env.ANDROID_IMAGE_URL }}

      # Build Intellij Ultimate
      - uses: ./.github/actions/push-image
        name: push intellij ultimate image
        with:
          image-name: ${{ env.INTELLIJ_ULTIMATE_IMAGE_NAME }}
          make-command: intellij_ultimate
          image-url: ${{ env.INTELLIJ_ULTIMATE_IMAGE_URL }}

      # Push webstorm image

      - uses: ./.github/actions/push-image
        name: push webstorm image
        with:
          image-name: ${{ env.WEBSTORM_IMAGE_NAME }}
          make-command: webstorm_image
          image-url: ${{ env.WEBSTORM_IMAGE_URL }}

      # Push sysbox generic image

      - uses: ./.github/actions/push-image
        name: push sysbox image
        with:
          image-name: ${{ env.SYSBOX_GENERIC_IMAGE_NAME }}
          make-command: generic_sysbox_image
          image-url: ${{ env.SYSBOX_GENERIC_IMAGE_URL }}