name: Push images to gcloud

on:
  workflow_dispatch:

jobs:

  trivy-scan-base:
    
    environment: production
    env:
      REGISTRY_URL : ${{ secrets.REGISTRY }}

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: install trivy
        run: | 
          docker pull aquasec/trivy        

      - name: build generic
        run: make base_image

      - name: scan base image
        run: docker run aquasec/trivy $(make get_base_image) > base_scan_results.json

      - name: Upload scan results
        uses: actions/upload-artifact@v3
        with:
          name: base_scan_results.json
          path: base_scan_results.json
          retention-days: 5